# Chest X-Ray Cascading DSS Environment Variables

# App Config Environment
APP_ENV=dev

# Allowed CORS Origins
XRAY_SECURITY__CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]

# MLflow Tracking settings
MLFLOW_TRACKING_URI=http://localhost:5000
